/* BEGIN: Shared Style Rules for all Sizes */
  /* BEGIN: Common Site-wide Styles */
  body { background-color: #ddd8d2; }

  /* BEGIN: Page Header */
  .page-header {
    background-image: url('../images/emanuel-masthead.jpg');
    color: #fff;
    margin: 0 auto;
    min-height: 200px;
    border-bottom: none;
    padding-bottom: 0;
  }
  .page-header, .page-footer { overflow-x: hidden; }
  .main-title-wrap h1, .main-title-wrap .main-title {
    font-family: 'Cinzel', cursive;
    font-size: 24px;
    line-height: 1;
    margin: 4px 0;
    text-transform: uppercase;
  }
  .sub-title { font-family: 'Cinzel', cursive; font-size: 18px; }
  .header-svc-time { font-style: italic; }
  .header-verse { font-style: italic; }
  .header-verse-ref { font-style: italic; font-weight: bold; }
  /* END: Page Header */

  /* BEGIN: Main Navigation */
  .navbar { border-radius: 0; margin-bottom: 0; }
  .navbar-default { background-color: #000; border: none; border-top: solid 1px #fff; }
  .navbar-default .navbar-brand { color: #fff; }
  .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus { color: #ffd700; }
  .navbar-default .navbar-text { color: #fff; }
  .navbar-default .navbar-nav > li > a { color: #fff; }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { color: #ffd700; }
  .navbar-default .navbar-nav > li > .dropdown-menu { background-color: #80715e; margin-top: -1px; }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a { color: #fff; }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffd700;
    background-color: #800000;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #80715e;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #ffd700;
    background-color: #800000;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #ffd700;
    background-color: #800000;
  }
  .navbar-default .navbar-toggle { border-color: #fff; border-radius: 0; }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color: #800000; }
  .navbar-default .navbar-toggle .icon-bar { background-color: #fff; }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form { border-color: #fff; }
  .navbar-default .navbar-link { color: #fff; }
  .navbar-default .navbar-link:hover { color: #ffd700; }
  .navbar-default .navbar-toggle .mobile-menu-toggle { color: #fff; }
  .navbar-default .dropdown-header { color: #ffd700; font-size: 14px; font-weight: bold; }
  /* END: Main Navigation */

  /* BEGIN: Homepage v2.0 Flexbox Layout */
  .homepage-v2 .main-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }
  .homepage-v2 .module-container {
    /* Actual Styles we'll likely keep */
    margin-bottom: 22px; /* All modules need spacing before the next one */
    width: 100%; /* At mobile all modules take up full width of parent container */
  }

  .homepage-v2 .module-container video {
    width: 100%;
  }
  /* END: Homepage v2.0 Flexbox Layout */

  /* BEGIN: Heading Styles */
  .module-container h2,
  h1.page-title,
  .inner-page-content h2 {
    background-color: #80715e;
    color: #fff;
    font-family: 'Cinzel', serif;
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 11px;
  }

  .inner-page-content h2.staff-title,
  .inner-page-content h2.section-title {
    background: none;
    color: #000;
    font-family: 'Helvetica Neue', Helvetica,Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding-top: 0;
    padding-left: 0;
  }
  /* END: Heading Styles */

  /* Page Footer */
  .page-footer { background-color: #000; color: #fff; }
  .page-footer .facebook img { width: 20px; }

  /* Common unordered list style to suppress default bullets and spacing */
  .list { list-style-type: none; padding-left: 0; }
  /* END: Common Site-wide Styles */

  /* BEGIN: Home Page Module Styles (v1.0) */
  /* Worship Services (Homepage) */
  .service-times-container { margin-bottom: 22px }
  .service-times-container h2.worship-schedule-title { margin-top: 22px; }
  .service-times-container .notice { font-weight: bold; }
  .service-time-entry { margin-bottom: 11px; }
  .service-time, .service-desc { float: left; }
  .service-time { width: 33.33%; }
  .service-desc { width: 66.67%; }
  .homepage-v2 h2.worship-schedule-title { margin-top: 22px; }
  .homepage-v2 .service-times .notice { font-weight: bold; }

  /* BEGIN: Home Page v2.0 Audio Promo module styles */
  .homepage-v2 .worship-audio .description {
    font-weight: bold;
  }
  .homepage-v2 .worship-audio .download {
    margin-top: 22px;
    margin-left: 15px;
  }
  .homepage-v2 .worship-audio .elca-logo {
    display: none;
  }
  /* END: Home Page v2.0 Audio Promo module styles */

  /* BEGIN: Upcoming Events (Homepage) */
  .upcoming-events-container { margin-bottom: 22px }
  .event-list { list-style-type: none; padding-left: 0; } /* TODO/FIXME: Retire in favor of just .list */
  .event-date-entry { display: flex; margin-bottom: 11px; }
  .event-calendar-container { width: 75px; }
  .event-details { flex: 1; }
  .event-calendar {
    background: #80715e;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    height: 78px;
    margin-bottom: 1.375em;
    margin-right: 11px;
    margin-left: 0;
    padding: 0.8em 0.35em 0.35em 0.35em;
    text-align: center;
  }
  .event-calendar-month {
    display: block;
    font-size: 0.875em;
    letter-spacing: 1.1px;
    line-height: 0.8em;
    text-transform: uppercase;
  }
  .event-calendar-date {
    display: block;
    font-size: 2.625em;
    height: 38px;
    line-height: 1.05em;
    margin-bottom: 2px;
  }
  .event-calendar-day {
    display: block;
    font-size: 0.5625em;
    line-height: 1.22em;
    text-transform: uppercase;
  }
  .event-detail { display: flex; margin-bottom: 11px; }
  .event-description { flex: 1; }
  .event-time { text-align: right; width: 66px; }
  .no-upcoming-events { margin-top: 11px; }
  /* END: Upcoming Events (Homepage) */

  /* Address & Map (Homepage) */
  .map-container { margin-bottom: 11px; }

  /* Photo Carousel (Homepage) */
  .photo-carousel-container { margin-top: 11px; margin-bottom: 22px; }
  .photo-carousel-container img { width: 100%; }
  .photo-carousel-container .carousel-caption {
    bottom: -26px;
    font-size: 12px;
    left: 10%;
    right: 10%;
  }

  .module-container.images .elca-logo {
    display: block;
    margin: 0 auto;
    width: 250px;
  }

  /* Styles for YouTube embed (iframe) video on Homepage */
  /* This allows video iframe to have 100% width and proportional height without explicitly specifying either dimension in absolute terms */
  .fluid-width-video-wrapper {
  	width: 100%;
  	position: relative;
  	padding: 56.25% 0 0; /* Top padding 56.25% is a bit "magical" ... I'm not quite sure why it works, but it does! :-) */
  }
  .fluid-width-video-wrapper iframe {
    position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }
  .video-iframe {
  	width: 100%;
  	z-index: 0;
  }
  /* END: Home Page Module Styles (v1.0) */

  /* BEGIN: Interior Page Styles */
  /* Headings */
  .inner-page-content { margin-bottom: 11px; }
  h1.page-title { margin-bottom: 22px }
  .inner-page-content h2 { margin-top: 22px; margin-bottom: 22px; }
  .inner-page-content h2.no-top-margin { margin-top: 0; }
  .inner-page-content h2.no-btm-margin { margin-bottom: 0; }
  .inner-page-content h2.section-title { margin: 11px 0; padding-top: 11px; }
  .inner-page-content h2.section-title.no-top-margin { margin-top: 0; padding-top: 0; }

  /* Photos */
  .photo-left, .photo-right, .photo-center { text-align: center; }
  .photo-left img, .photo-right img, .photo-center img {
    margin-bottom: 22px;
    width: 100%;
  }
  .photo-left.no-btm-margin img,
  .photo-right.no-btm-margin img,
  .photo-center.no-btm-margin img {
    margin-bottom: 0;
  }

  /* Placement */
  .center { text-align: center; }
  .no-btm-margin { margin-bottom: 0 }
  .no-top-margin { margin-top: 0; }
  p.no-top-margin {
    margin-top: 0;
    -webkit-margin-before: 0;
  }
  .top-margin { margin-top: 11px; }

  /* Logos */
  .stephen-logo { padding-top: 11px; text-align: center; }
  .haho-logo { width: auto; }

  /* Preschool Page */
  .preschool-header { margin-top: 0; text-align: center; }
  .preschool-fees .price {
    text-align: right;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
  }
  .tuition-table { width: 100%; }
  .tuition-table th, .tuition-table td { width: 33.3%; }
  .tuition-divider { border-top-color: #80715e; }

  /* BEGIN: Worship Service Audio (Audio List Style v2.0) */
  .audio-file-list-v2 {
    margin-bottom: 22px;
  }
  .audio-file-entry img {
    max-width: 24px;
    width: 100%;
  }
  .audio-file-entry {
    display: flex;
    flex-wrap: wrap;
    margin-top: 22px;
    padding-bottom: 22px;
  }
  .audio-file-list-v2 .audio-file-entry {
    border-bottom: solid 1px #80715e;
  }
  .audio-file-list-v2 .audio-file-entry:last-child {
    border-bottom: none;
  }
  .audio-file-entry .icon {
    flex: 0 0 16.67%; /* col-xs-2 == 1/6 [2/12] */
    max-width: 24px;
    margin-right: 15px;
  }
  .audio-file-entry .description {
    flex: 0 1 83.33%; /* col-xs-10 == 5/6 [10/12]  */
    margin-right: 15px;
  }
  .audio-file-entry .player {
    flex: 0 1 100%;
    max-width: 500px;
    margin-right: 15px;
    margin-top: 22px;
  }
  .audio-file-entry .player audio {
    max-width: 500px;
    width: 100%;
  }
  .audio-file-entry .download {
    flex: 0 1 100%;
    margin-left: 39px;
    margin-top: 22px;
  }
  /* END: Worship Service Audio (Audio List Style v2.0) */

  /* BEGIN: Newsletter Archive Styles */
  .newsletter-container {
    display: flex;
  }
  .newsletter-issue-list {
    flex: 0 0 40%;
  }
  .newsletter-current-issue-thumbnail-mobile {
    flex: 0 1 60%;
    text-align: right;
  }
  .newsletter-current-issue-thumbnail-mobile img {
    width: 100%;
  }
  .newsletter-additional-issues-list {
    padding-top: 11px;
  }
  .newsletter-additional-issues-list .panel.panel-default {
    background-color: #ddd8d2;
    border: none !important;
    border-radius: 0;
    box-shadow: none;
  }
  .newsletter-additional-issues-list .panel-heading {
    border: none;
    border-radius: 0;
    background-color: #80715e;
    color: #fff;
    font-family: 'Cinzel', serif;
    margin-top: 0;
    margin-bottom: 0;
    padding: 11px;
  }
  .newsletter-additional-issues-list .panel-title {
    font-size: 22px;
  }
  .newsletter-additional-issues-list .panel-body {
    border: none !important;
    display: flex;
    padding-left: 0;
    padding-right: 0;
  }
  .newsletter-additional-issues-list .list-group-item {
    background-color: #ddd8d2;
    border: 1px solid #80715e;
    border-radius: 0;
    padding: 10px;
  }
  .newsletter-additional-issues-list .list-group-item:hover {
    background-color: LightGray;
  }
  .newsletter-year-issue-list {
    flex: 0 0 40%;
    padding-right: 11px;
  }
  .newsletter-year-issue-thumbnail {
    flex: 0 0 60%;
  }
  .newsletter-year-issue-thumbnail img {
    width: 100%;
  }
  /* END: Newsletter Archive Styles */
/* END: Shared Style Rules for all Sizes */

/* Max Width 419 (mobile and narrower tablets) */
@media only screen and (max-width: 419px) {
  .photo-left.staff-photo img, .photo-right.staff-photo img {
    width: 75%;
    text-align: center;
  }
}

/* 420 up to 767 (wider tablet) */
@media only screen and (min-width: 420px) and (max-width: 767px) {
  .photo-left img, .photo-right img, .photo-center img { width: 50%; }
}

/* Max Width 767 (all mobile and tablets) */
@media only screen and (max-width: 767px) {
  /* Page Header */
  .page-header {
    background-position-x: 64%;
    background-position-y: 50%;
    margin: 0 -15px 0;
  }

  .main-title-wrap h1, .main-title-wrap .main-title {
    font-size: 20px;
    margin-top:12px;
    text-align: center;
  }

  .sub-title, .header-svc-time {
    margin-top: 12px;
    text-align: center;
  }

  .header-verse-container {
    font-size: 12px;
    margin: 12px auto;
    min-height: 51px;
    width: 90%;
  }

  /* Navigation */
  .navbar-default { margin: 0 -15px 0; }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffd700;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffd700;
    background-color: #800000;
  }

  .module-container h2 { margin: 0 -15px 22px; }

  /* Page Footer */
  .page-footer { margin: 11px -15px 0; text-align: center; }
  .page-footer .copyright { padding-top: 11px; }
  .page-footer .contact { padding: 11px 0; }

  /* Interior Pages */
  h1.page-title { margin: 0 -15px 22px; }
  .inner-page-content h2 { margin: 22px -15px 22px; }
  .inner-page-content h2.no-top-margin { margin-top: 0; }
  .inner-page-content h2.staff-title { margin: 0; }
  .inner-page-content h2.staff-title.top,
  .inner-page-content h2.section-title.top { margin-top: -11px; }
}

/* Style Rules for 768 and Up */
@media only screen and (min-width: 768px) {
  /* Page Header */
  .main-title-wrap { margin-left: 40px; }
  .main-title-wrap h1, .main-title-wrap .main-title {
    font-size: 32px;
    margin: 30px 0 5px;
  }
  .sub-title { font-size: 24px; margin-left: 40px; }
  .header-svc-time { margin-top: 30px; margin-bottom: 10px; margin-left: 40px; }
  .header-verse-container { margin-top: 30px; margin-bottom: 30px; width: 80%; }

  /* Main Navigation */
  /*.navbar-header { width: 12%; }*/ /* This just seems silly */
  .navbar-brand { font-size: 14px; padding: 15px 0 10px 10px; }
  /* .navbar-nav { width: 88%; } */
  .navbar-nav { width: 94%; }
  .navbar-nav > li {
    text-align: right;
    /*width: 14.28%;*/ /* This should always be 100% / N top-level nav menu items (presently 7 ... 100/7 = 14.28...) */
    width: 14%;
  }
  .navbar-nav > li.news-and-events { width: 16%; }
  .navbar-nav > li > a { font-size: 12px; padding: 15px 5px; text-transform: lowercase; }

  /* BEGIN: Homepage v2.0 Main Navigation Menu overrides (TEMP) */
  .homepage-v2 .navbar-header { width: auto; }
  .homepage-v2 .navbar-nav { width: 97%; }
  /* .homepage-v2 .navbar-nav > li { width: 14%; }
  .homepage-v2 .navbar-nav > li.news-and-events { width: 16%; } */
  /* END: Homepage v2.0 Main Navigation Menu overrides (TEMP) */

  /* BEGIN: Homepage v2.0 Module Flexbox Layout for 768 - 1199 */
  .homepage-v2 .main-content {
    flex-wrap: wrap;
  }
  .homepage-v2 .service-times {
    flex: 0 0 50%;
    order: 1;
    width: 50%;
  }
  .homepage-v2 .worship-audio {
    flex: 0 0 50%;
    order: 2;
    width: 50%;
  }
  .homepage-v2 .photo-carousel {
    flex: 0 0 100%;
    order: 3;
  }
  .homepage-v2 .location {
    flex: 0 0 50%;
    order: 4;
    width: 50%;
  }
  .map-container {
    margin-bottom: 0;
  }
  .homepage-v2 .upcoming-events {
    flex: 0 0 50%;
    order: 5;
    width: 50%;
  }
  .homepage-v2 .module-container.upcoming-events h2 {
    margin-bottom: 0;
  }
  .upcoming-events-content {
    overflow-y: auto;
    /* scrollbar customization for Firefox/Mozilla */
    scrollbar-color: rgba(128, 113, 94, 0.5) #ddd8d2;
    scrollbar-width: thin;
  }

  /* Webkit Scrollbar Customization for Upcoming Events */
  .upcoming-events-content::-webkit-scrollbar {
      width: .45rem;
  }
  .upcoming-events-content::-webkit-scrollbar-thumb {
      background-color: rgba(128, 113, 94, 0.5);
  }
  .upcoming-events-content::-webkit-scrollbar-track{
      background: transparent;
  }
  /* END: Homepage v2.0 Module Flexbox Layout for 768 and up */

  /* Page Footer */
  .page-footer { margin: 11px 0 0; }
  .page-footer .copyright, .page-footer .contact { padding: 20px 30px; }

  /* Homepage Module Titles */
  .homepage-v2 .module-container h2 {
    margin-bottom: 22px;
  }
  .homepage-v2 .module-content.left {
    padding-right: 15px;
  }
  .homepage-v2 .module-content.right {
    padding-left: 15px;
  }

  .homepage-v2 .worship-audio .description {
    margin-right: 0;
  }

  /* Homepage Photo Carousel (v1.0) */
  .photo-carousel-container .carousel-caption {
    bottom: -30px;
    font-size: 14px;
    left: 15%;
    right: 15%;
  }

  /* Inner Page Content */
  .inner-page-content h2.section-title.top { margin-top: -11px; }
  .inner-page-content h2.staff-title { margin-top: 0; }

  .short-content-min-height { /* TODO: Consider just adding this to .inner-page-content ! */
    min-height: 360px;
  }

  /* Newsletter Page Content */
  .newsletter-issue-list {
    flex: 0 0 50%;
  }
  .newsletter-current-issue-thumbnail-mobile {
    flex: 0 0 50%;
    margin-top: -22px;
    text-align: right;
  }
  .newsletter-year-issue-thumbnail {
    margin-top: -15px;
    text-align: right;
  }
  .newsletter-current-issue-thumbnail-mobile img,
  .newsletter-year-issue-thumbnail img {
    max-width: 350px;
  }
  .newsletter-additional-issues-list .list-group {
    width: 250px;
  }
}

/* Style rules up to 991 (mobile and wide tablets only, exclude desktop */
@media only screen and (max-width: 991px) {
  .page-header { background-position-x: 64%; }
  .map-container { overflow-x: auto; width: 100%; }
  .inner-page-content .col-xs-12 { margin-bottom: 11px; }
}

/* Style between 768 and 991 (wider tablets only, exclude mobile at low end and desktop at high end */
/* TODO/FIXME: This is likely a hack; hopefully it can go away for v2.0 layout */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .event-list { margin-right: -11px; }
}

/* Medium Devices, Desktops (these rules affect 992 and up) */
@media only screen and (min-width: 992px) {
  /* Page Header */
  .header-verse-container { width: 50%; }

  /* Main Navigation */
  .navbar-brand { font-size: 18px; padding: 15px; }
  .navbar-nav > li > a { font-size: 14px; padding: 15px 10px; }

  /* BEGIN: Homepage v2.0 Main Navigation Menu overrides (TEMP) */
  .homepage-v2 .navbar-nav { width: 94%; }
  /* END: Homepage v2.0 Main Navigation Menu overrides (TEMP) */
  /* BEGIN: Homepage v2.0 Photo Carousel overrides (TEMP) */
  .homepage-v2 .photo-carousel-container { margin-top: 0; }
  /* END: Homepage v2.0 Photo Carousel overrides (TEMP) */

  /* Additional left margin for "No Upcoming Events" message */
  .no-upcoming-events {
    margin-left: 11px;
  }

  .caret { border-top: 8px dashed; border-right: 8px solid transparent; border-left: 8px solid transparent; }
  .module-container h2, h1.page-title { font-size: 18px; }
  .module-container h2.left-top, .module-container h2.left-bottom { margin: 0 -30px 22px 0; }
  .module-container h2.right-top, .module-container h2.right-bottom { margin: 0 0 22px -30px; }
  .service-time { width: 45.00%; }
  .service-desc { width: 55.00%; }
  .event-list { margin-left: -11px; }
  .photo-carousel-container { margin-top: 0; }
  .photo-left { text-align: left; }
  .photo-right { text-align: right; }
  .preschool-fees .price { margin-left: -11px; }

  /* Newsletter Page Content */
  .newsletter-issue-list {
    flex: 0 0 100%;
    min-height: 126px;
  }
  .newsletter-additional-issues-list {
    padding-top: 22px;
  }
  .newsletter-additional-issues-list .panel-heading {
    width: 617px;
  }
  .newsletter-additional-issues-list .panel-title {
    font-size: 18px;
  }
  .newsletter-year-issue-thumbnail {
    margin-top: -56px;
  }
  .newsletter-year-issue-thumbnail img {
    width: 293px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .homepage-v2 .upcoming-events {
    max-height: 540px;
    overflow-y: hidden;
  }
  .upcoming-events-content {
    max-height: 494px; /* 540px module container height - 46px height of the h2 (24px + 11px top and bottom padding) */
    padding: 11px 22px 0 11px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .homepage-v2 .carousel {
    margin: 0 auto;
    width: 720px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1259px) {
  .homepage-v2 .map-container {
    overflow-x: auto;
    width: 100%;
  }
}

/* Large Devices, Wide Screens (these rules affect 1200 and up) */
@media only screen and (min-width: 1200px) {
  /* Homepage (v1.0) */
  .header-verse-container { margin-left: 20%; }
  .header-svc-time { margin-top: 50px; }
  .service-time { width: 40.00%; }
  .service-desc { width: 60.00%; }

  /* BEGIN: Homepage (v2.0) */
  .homepage-v2 .page-header {
    background-image: url('../images/emanuel-masthead.jpg');
    background-position: right top;
    background-repeat: no-repeat;
  }
  /* BEGIN: Homepage v2.0 Module Flexbox Layout (3 Columns for 1200px and up) */
  .homepage-v2 .main-content {
    justify-content: flex-start;
  }
  .homepage-v2 .service-times {
    flex: 1 0 25%;
    order: 1;
  }
  .homepage-v2 .photo-carousel {
    flex: 0 0 550px;
    order: 2;
    width: 550px;
  }
  .homepage-v2 .worship-audio {
    /* Top Right */
    /*flex: 1 0 25%;
    order: 3;*/

    /* Bottom Right */
    flex: 0 0 50%;
    order: 5;
    width: 50%;
  }
  .homepage-v2 .location {
    flex: 0 0 50%;
    order: 4;
    width: 50%;
    align-self: flex-start;
  }
  .homepage-v2 .upcoming-events {
    /* Bottom Right */
    /*flex: 0 0 50%;
    order: 5;
    width: 50%;*/

    /* Top Right */
    flex: 1 0 25%;
    order: 3;
    max-height: 550px; /* Service Times (on the top left) is 528px high + 22px margin bottom */
    margin-bottom: 0;
    overflow-y: hidden;
  }
  .upcoming-events-content {
    max-height: 504px; /* 550px module container height - 46px height of the h2 (24px + 11px top and bottom padding) */
    padding: 11px 11px 0 22px;
  }
  .homepage-v2 .module-container h2 {
    margin-bottom: 22px;
  }
  .homepage-v2 .module-content.left {
    padding-right: 22px;
  }
  .homepage-v2 .module-content.right {
    padding-left: 22px;
  }
  .homepage-v2 .worship-audio .audio-file-entry {
    flex-wrap: wrap;
  }
  .homepage-v2 .worship-audio .player {
    flex: 1 0 100%;
  }
  .homepage-v2 audio {
    max-width: 500px;
    width: 100%;
  }
  .homepage-v2 .worship-audio .elca-logo {
    display: block;
    margin: 0 auto;
    width: 200px;
  }
  /* END: Homepage v2.0 Module Flexbox Layout (3 Columns for 1200px and up) */
  /* END: Homepage (v2.0) */

  /* Headings (some impacting Homepage v1.0) */
  .module-container h2, .inner-page-content h2, h1.page-title { font-size: 22px; }

  /* Misc. Inner Page Content */
  .preschool-fees .price { margin-left: -22px; }

  /* BEGIN: Worship Service Audio (Audio List Style v2.0) */
  .audio-file-list-v2 .audio-file-entry {
    align-items: center;
  }
  .audio-file-list-v2 .audio-file-entry .description {
    flex: 0 1 25%; /* col-lg-3 */
  }
  .audio-file-list-v2 .audio-file-entry .player {
    flex: 0 1 41.67%; /* col-lg-3 */
    margin-top: 0;
  }
  .audio-file-list-v2 .audio-file-entry .download {
    flex: 0 1 18%;
    margin-top: 0;
  }
  /* END: Worship Service Audio (Audio List Style v2.0) */

  /* Newsletter Page Content */
  .newsletter-issue-list {
    min-height: 165px;
  }
  .newsletter-additional-issues-list .panel-title {
    font-size: 22px;
  }
  .newsletter-year-issue-thumbnail img {
    max-width: 360px;
    width: 360px;
  }
}

@media only screen and (min-width : 1260px) {
  .container.homepage-v2, .container.layout-v2 {
    padding-left: 0;
    padding-right: 0;
    width: 1200px;
  }
  .newsletter-issue-list {
    min-height: 176px;
  }
  .newsletter-year-issue-thumbnail img {
    max-width: 380px;
    width: 380px;
  }
}
