RewriteEngine on

# Redirect HTTP to HTTPS
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://elclh.org/$1 [R,L]

# Friendly URLs with /yyyy/mm suffix
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/$1.php -f
RewriteRule ^([^/]+)/(\d{4})/(0[1-9]|1[0-2])$ $1.php?year=$2&month=$3 [L,QSA]

# Regular Friendly URLs
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/$1.php -f
RewriteRule ^([^/]+)/?$ $1.php [L,QSA]

RewriteRule ^/?$ index.php [L,QSA]

ErrorDocument 404 /404.php
ErrorDocument 410 /410.php
