RewriteEngine on

# Create friendly URLs
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/$1.php -f
RewriteRule ^([^/]+)/?$ $1.php [L,QSA]

RewriteRule ^/?$ index.php [L,QSA]

ErrorDocument 404 /404.php
